<a href="https://colab.research.google.com/github/seongheepark22/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ì˜¤í”ˆì†ŒìŠ¤ ê¸°ë°˜ ë°ì´í„° ë¶„ì„ 5ê°• - ë°ì´í„° ì €ì¥

## 5-1 CSV í˜•ì‹ ì €ì¥

In [ ]:


data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame ìƒì„±

## CSV í˜•ì‹ ì €ì¥

## 5-2 JSON í˜•ì‹ ì €ì¥

In [ ]:
### ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸

import pandas as pd

data = {
    "ì´ë¦„": "í™ê¸¸ë™",
    "ë‚˜ì´": 25,
    "ê±°ì£¼ì§€": "ì„œìš¸",
    "ê´€ì‹¬ì‚¬": ["í”„ë¡œê·¸ë˜ë°", "ë°ì´í„° ë¶„ì„", "ì—¬í–‰"]
}

## json.dumpë¥¼ ì´ìš©í•œ ì €ì¥

## DataFrameì„ ì´ìš©í•œ ì €ì¥

## 5-3 Pandas Dataframe ë°ì´í„° ì¶”ì¶œ

In [ ]:
import pandas as pd

data = {
    "ì´ë¦„": ["ê¹€ì² ìˆ˜", "ì´ì˜í¬", "ë°•ë¯¼ìˆ˜", "ìµœì§€í›ˆ", "ì •ì†Œí¬"],
    "í•™ë…„": [1, 2, 3, 4, 2],
    "í•™ì ": [4.2, 3.8, 4.5, 3.9, 3.5],
    "í•™ê³¼": ["ì»´í“¨í„°í•™", "ê²½ì˜í•™", "ë†í•™", "êµìœ¡í•™", "ì˜ì–´ì˜ë¬¸í•™"],
    "ë™ì•„ë¦¬": ["í”„ë¡œê·¸ë˜ë°", "ë…ì„œí† ë¡ ", "ë¡œë´‡ê³µí•™", "ë´‰ì‚¬í™œë™", "ìŒì•…ê°ìƒ"]
}
df = pd.DataFrame([data])

## DataFrame ì¸ë±ìŠ¤ ì¶œë ¥

## DataFrame ì»¬ëŸ¼ ì¶œë ¥

## DataFrame í–‰ ì¶œë ¥

## DataFrame ê°’ ì¶œë ¥

## 5-4 DataFrame ìƒì„± ë°©ë²•

In [ ]:
import pandas as pd
import json

data = {
    "ì´ë¦„": ["ê¹€ì² ìˆ˜", "ì´ì˜í¬", "ë°•ë¯¼ìˆ˜", "ìµœì§€í›ˆ", "ì •ì†Œí¬"],
    "í•™ë…„": [1, 2, 3, 4, 2],
    "í•™ì ": [4.2, 3.8, 4.5, 3.9, 3.5],
    "í•™ê³¼": ["ì»´í“¨í„°ê³µí•™", "ê²½ì˜í•™", "ì „ìê³µí•™", "ì˜í•™", "ì‹¬ë¦¬í•™"],
    "ë™ì•„ë¦¬": ["í”„ë¡œê·¸ë˜ë°", "ë…ì„œí† ë¡ ", "ë¡œë´‡ê³µí•™", "ë´‰ì‚¬í™œë™", "ìŒì•…ê°ìƒ"]
}

## ë”•ì…”ë„ˆë¦¬, csv, jsonìœ¼ë¡œ ë¶€í„° DataFrame ìƒì„±


## ì„¸ê°€ì§€ ë°©ë²• ê²°ê³¼ ë¹„êµ

## 5-5 DataFrame ì €ì¥ ë°©ë²•

In [ ]:
import pandas as pd

data = {
    "ì´ë¦„": ["ê¹€ì² ìˆ˜", "ì´ì˜í¬", "ë°•ë¯¼ìˆ˜", "ìµœì§€í›ˆ", "ì •ì†Œí¬"],
    "í•™ë…„": [1, 2, 3, 4, 2],
    "í•™ì ": [4.2, 3.8, 4.5, 3.9, 3.5],
    "í•™ê³¼": ["ì»´í“¨í„°ê³µí•™", "ê²½ì˜í•™", "ì „ìê³µí•™", "ì˜í•™", "ì‹¬ë¦¬í•™"],
    "ë™ì•„ë¦¬": ["í”„ë¡œê·¸ë˜ë°", "ë…ì„œí† ë¡ ", "ë¡œë´‡ê³µí•™", "ë´‰ì‚¬í™œë™", "ìŒì•…ê°ìƒ"]
}

## Dataframe ìƒì„±

## CSV, JSON í˜•ì‹ìœ¼ë¡œ ì €ì¥


## HTML í˜•ì‹ìœ¼ë¡œ ì €ì¥

## 5-6 ì‹¤ìŠµ ì‹œë‚˜ë¦¬ì˜¤

## ë°ì´í„° ìˆ˜ì§‘

In [ ]:
import requests

## ë°ì´í„° ìˆ˜ì§‘ url ë° api key ì„¤ì •
API_KEY = "http://openapi.seoul.go.kr:8088/744c616456616c7339396e58517964/json/energyUseDataSummaryInfo/1/5/%20/%20/"
api_key= "744c616456616c7339396e58517964"



# 2ï¸âƒ£ API ìš”ì²­ ë³´ë‚´ê¸°
response = requests.get(url)

# 3ï¸âƒ£ ì‘ë‹µ ìƒíƒœ í™•ì¸
if response.status_code == 200:
    print("API í˜¸ì¶œ ì„±ê³µ âœ…")

    # 4ï¸âƒ£ JSON ë°ì´í„° ë³€í™˜
    data = response.json()
    print(data)  # êµ¬ì¡° í™•ì¸ìš© (ì²˜ìŒì—” ê¼­ í•´ë³´ì)

    # 5ï¸âƒ£ ë”•ì…”ë„ˆë¦¬ ë‚´ë¶€ êµ¬ì¡° íŒŒì•… í›„ DataFrameìœ¼ë¡œ ë³€í™˜
    try:
        items = data['energyUseDataSummaryInfo']['row']
        df = pd.DataFrame(items)

        # 6ï¸âƒ£ ë°ì´í„°í”„ë ˆì„ ì¶œë ¥
        print(df.head())

    except KeyError:
        print("âŒ KeyError: JSON ë‚´ë¶€ êµ¬ì¡°ê°€ ë‹¤ë¦…ë‹ˆë‹¤.")
        print(data.keys())
else:
    print("âŒ API í˜¸ì¶œ ì‹¤íŒ¨:", response.status_code)

API í˜¸ì¶œ ì„±ê³µ âœ…
{'energyUseDataSummaryInfo': {'list_total_count': 7, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': 'ì •ìƒ ì²˜ë¦¬ë˜ì—ˆìŠµë‹ˆë‹¤'}, 'row': [{'YEAR': '2015', 'MON': '01', 'MM_TYPE': 'ê°œì¸', 'CNT': '767791', 'EUS': '193784708', 'EUS1': '194781915', 'EUS2': '204969429', 'ECO2_1': '-6090964', 'ECO2_2': '-2582568.736', 'GUS': '59133720', 'GUS1': '57163993', 'GUS2': '68297619', 'GCO2_1': '-3597086', 'GCO2_2': '-8057472.64', 'WUS': '12819757.886', 'WUS1': '12723680.426', 'WUS2': '12899476.73', 'WCO2_1': '8179.308', 'WCO2_2': '2715.530256', 'HUS': '22740838.937', 'HUS1': '23400055.303', 'HUS2': '27090493.875', 'HCO2_1': '-2504435.652', 'HCO2_2': '-33660084.213069', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': 'í•™êµ', 'CNT': '1382', 'EUS': '134955565', 'EUS1': '128707423', 'EUS2': '145561511', 'ECO2_1': '-2178902', 'ECO2_2': '-923854.448', 'GUS': '9107197', 'GUS1': '8410968', 'GUS2': '10745416', 'GCO2_1': '-470995', 'GCO2_2': '-1055028.8', 'WUS': '2075819.2', 'WUS1': '2097433.8', 'WUS2': '2133200.8', 'WCO2_1': '-39498.1', 'WCO2_2': '-13113.3692', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': 'ì¢…êµë‹¨ì²´', 'CNT': '32', 'EUS': '372270', 'EUS1': '363376', 'EUS2': '411363', 'ECO2_1': '-15099.5', 'ECO2_2': '-6402.188', 'GUS': '53331', 'GUS1': '45727', 'GUS2': '63312', 'GCO2_1': '-1188.5', 'GCO2_2': '-2662.24', 'WUS': '5945', 'WUS1': '4548', 'WUS2': '4519', 'WCO2_1': '1411.5', 'WCO2_2': '468.618', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': 'ì†Œìƒê³µì¸', 'CNT': '2058', 'EUS': '10249618', 'EUS1': '9927610', 'EUS2': '11039593', 'ECO2_1': '-233983.5', 'ECO2_2': '-99209.004', 'GUS': '536119', 'GUS1': '523810', 'GUS2': '642921', 'GCO2_1': '-47246.5', 'GCO2_2': '-105832.16', 'WUS': '147273', 'WUS1': '146480.6', 'WUS2': '147325.6', 'WCO2_1': '369.9', 'WCO2_2': '122.8068', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': 'ê³µë™ì£¼íƒê´€ë¦¬ì†Œ', 'CNT': '1747', 'EUS': '327102096', 'EUS1': '329852334', 'EUS2': '351694752', 'ECO2_1': '-13671447', 'ECO2_2': '-5796693.528', 'GUS': '22834274', 'GUS1': '21141017', 'GUS2': '25338506', 'GCO2_1': '-405487.5', 'GCO2_2': '-908292', 'WUS': '12844807.5', 'WUS1': '12763070', 'WUS2': '12979835.8', 'WCO2_1': '-26645.4', 'WCO2_2': '-8846.2728', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}]}}
   YEAR MON  MM_TYPE     CNT        EUS       EUS1       EUS2     ECO2_1  \
0  2015  01       ê°œì¸  767791  193784708  194781915  204969429   -6090964
1  2015  01       í•™êµ    1382  134955565  128707423  145561511   -2178902
2  2015  01     ì¢…êµë‹¨ì²´      32     372270     363376     411363   -15099.5
3  2015  01     ì†Œìƒê³µì¸    2058   10249618    9927610   11039593  -233983.5
4  2015  01  ê³µë™ì£¼íƒê´€ë¦¬ì†Œ    1747  327102096  329852334  351694752  -13671447

         ECO2_2       GUS  ...          WUS1         WUS2    WCO2_1  \
0  -2582568.736  59133720  ...  12723680.426  12899476.73  8179.308
1   -923854.448   9107197  ...     2097433.8    2133200.8  -39498.1
2     -6402.188     53331  ...          4548         4519    1411.5
3    -99209.004    536119  ...      146480.6     147325.6     369.9
4  -5796693.528  22834274  ...      12763070   12979835.8  -26645.4

        WCO2_2           HUS          HUS1          HUS2        HCO2_1  \
0  2715.530256  22740838.937  23400055.303  27090493.875  -2504435.652
1  -13113.3692             0             0             0             0
2      468.618             0             0             0             0
3     122.8068             0             0             0             0
4   -8846.2728             0             0             0             0

             HCO2_2               REG_DATE
0  -33660084.213069  2015-06-04 17:03:55.0
1                 0  2015-06-04 17:03:55.0
2                 0  2015-06-04 17:03:55.0
3                 0  2015-06-04 17:03:55.0
4                 0  2015-06-04 17:03:55.0

[5 rows x 25 columns]

In [ ]:
print(response.json())

{'energyUseDataSummaryInfo': {'list_total_count': 7, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': 'ì •ìƒ ì²˜ë¦¬ë˜ì—ˆìŠµë‹ˆë‹¤'}, 'row': [{'YEAR': '2015', 'MON': '01', 'MM_TYPE': 'ê°œì¸', 'CNT': '767791', 'EUS': '193784708', 'EUS1': '194781915', 'EUS2': '204969429', 'ECO2_1': '-6090964', 'ECO2_2': '-2582568.736', 'GUS': '59133720', 'GUS1': '57163993', 'GUS2': '68297619', 'GCO2_1': '-3597086', 'GCO2_2': '-8057472.64', 'WUS': '12819757.886', 'WUS1': '12723680.426', 'WUS2': '12899476.73', 'WCO2_1': '8179.308', 'WCO2_2': '2715.530256', 'HUS': '22740838.937', 'HUS1': '23400055.303', 'HUS2': '27090493.875', 'HCO2_1': '-2504435.652', 'HCO2_2': '-33660084.213069', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': 'í•™êµ', 'CNT': '1382', 'EUS': '134955565', 'EUS1': '128707423', 'EUS2': '145561511', 'ECO2_1': '-2178902', 'ECO2_2': '-923854.448', 'GUS': '9107197', 'GUS1': '8410968', 'GUS2': '10745416', 'GCO2_1': '-470995', 'GCO2_2': '-1055028.8', 'WUS': '2075819.2', 'WUS1': '2097433.8', 'WUS2': '2133200.8', 'WCO2_1': '-39498.1', 'WCO2_2': '-13113.3692', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': 'ì¢…êµë‹¨ì²´', 'CNT': '32', 'EUS': '372270', 'EUS1': '363376', 'EUS2': '411363', 'ECO2_1': '-15099.5', 'ECO2_2': '-6402.188', 'GUS': '53331', 'GUS1': '45727', 'GUS2': '63312', 'GCO2_1': '-1188.5', 'GCO2_2': '-2662.24', 'WUS': '5945', 'WUS1': '4548', 'WUS2': '4519', 'WCO2_1': '1411.5', 'WCO2_2': '468.618', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': 'ì†Œìƒê³µì¸', 'CNT': '2058', 'EUS': '10249618', 'EUS1': '9927610', 'EUS2': '11039593', 'ECO2_1': '-233983.5', 'ECO2_2': '-99209.004', 'GUS': '536119', 'GUS1': '523810', 'GUS2': '642921', 'GCO2_1': '-47246.5', 'GCO2_2': '-105832.16', 'WUS': '147273', 'WUS1': '146480.6', 'WUS2': '147325.6', 'WCO2_1': '369.9', 'WCO2_2': '122.8068', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': 'ê³µë™ì£¼íƒê´€ë¦¬ì†Œ', 'CNT': '1747', 'EUS': '327102096', 'EUS1': '329852334', 'EUS2': '351694752', 'ECO2_1': '-13671447', 'ECO2_2': '-5796693.528', 'GUS': '22834274', 'GUS1': '21141017', 'GUS2': '25338506', 'GCO2_1': '-405487.5', 'GCO2_2': '-908292', 'WUS': '12844807.5', 'WUS1': '12763070', 'WUS2': '12979835.8', 'WCO2_1': '-26645.4', 'WCO2_2': '-8846.2728', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}]}}

## ë°ì´í„° í”„ë ˆì„ ìƒì„±

In [ ]:
import requests
import pandas as pd


items = data['energyUseDataSummaryInfo']['row']
df = pd.DataFrame(items)

df.info()
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
        YEAR MON MM_TYPE     CNT        EUS       EUS1       EUS2    ECO2_1  \
count      5   5       5       5          5          5          5         5
unique     1   1       5       5          5          5          5         5
top     2015  01      ê°œì¸  767791  193784708  194781915  204969429  -6090964
freq       5   5       1       1          1          1          1         1

              ECO2_2       GUS  ...          WUS1         WUS2    WCO2_1  \
count              5         5  ...             5            5         5
unique             5         5  ...             5            5         5
top     -2582568.736  59133720  ...  12723680.426  12899476.73  8179.308
freq               1         1  ...             1            1         1

             WCO2_2 HUS HUS1 HUS2 HCO2_1 HCO2_2               REG_DATE
count             5   5    5    5      5      5                      5
unique            5   2    2    2      2      2                      1
top     2715.530256   0    0    0      0      0  2015-06-04 17:03:55.0
freq              1   4    4    4      4      4                      5

[4 rows x 25 columns]

## ë‹¤ì–‘í•­ í˜•ì‹ìœ¼ë¡œ ë°ì´í„° ì €ì¥

In [ ]:
df.to_csv('air_pollution.csv', index=False, encoding='utf-8')

## JSON í˜•ì‹ ë°ì´í„° ì €ì¥

## EXCEL í˜•ì‹ ë°ì´í„° ì €ì¥

## HTML í˜•ì‹ ë°ì´í„° ì €ì¥

In [ ]:
import pandas as pd
import requests

# 1ï¸âƒ£ API í‚¤ ë° URL ì„¤ì •
url ="http://openapi.seoul.go.kr:8088/5a62616654616c733832786e52536b/json/energyUseDataSummaryInfo/1/5/2015/01"
api_key= "5a62616654616c733832786e52536b"


# 2ï¸âƒ£ ë°ì´í„° ìˆ˜ì§‘
response = requests.get(url)
if response.status_code == 200:
    data = response.json()
    print("âœ… API í˜¸ì¶œ ì„±ê³µ")
else:
    print(f"âŒ API í˜¸ì¶œ ì‹¤íŒ¨: {response.status_code}")

# 3ï¸âƒ£ JSON â†’ pandas DataFrame ë³€í™˜
rows = data["energyUseDataSummaryInfo"]["row"]
df = pd.DataFrame(rows)

# 4ï¸âƒ£ DataFrame ê¸°ë³¸ ì •ë³´ í™•ì¸
print("\nğŸ“Š ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°:")
print(df.head())

print("\nğŸ“‹ DataFrame ì •ë³´:")
print(df.info())

# 5ï¸âƒ£ 'YEAR', 'MON' ì»¬ëŸ¼ì„ í™œìš©í•˜ì—¬ ìƒˆë¡œìš´ 'ì—°ë„', 'ê³„ì ˆ' ì»¬ëŸ¼ ì¶”ê°€
def get_season(month):
    month = int(month)
    if month in [1, 2, 12]:
        return 'ê²¨ìš¸'
    elif month in [3, 4, 5]:
        return 'ë´„'
    elif month in [6, 7, 8]:
        return 'ì—¬ë¦„'
    else:
        return 'ê°€ì„'

df['ì—°ë„'] = df['YEAR']
df['ê³„ì ˆ'] = df['MON'].apply(get_season)

# 6ï¸âƒ£ ë³€í™˜ëœ ê²°ê³¼ í™•ì¸
print("\nâœ… ê³„ì ˆ ì»¬ëŸ¼ ì¶”ê°€ ì™„ë£Œ:")
print(df[['YEAR', 'MON', 'ì—°ë„', 'ê³„ì ˆ']].head())

# 7ï¸âƒ£ CSV íŒŒì¼ë¡œ ì €ì¥
df.to_csv("ì„œìš¸ì‹œ_ì—ë„ˆì§€ì‚¬ìš©ëŸ‰_ì „ì²˜ë¦¬ì™„ë£Œ.csv", index=False, encoding='utf-8-sig')
print("\nğŸ’¾ 'ì„œìš¸ì‹œ_ì—ë„ˆì§€ì‚¬ìš©ëŸ‰_ì „ì²˜ë¦¬ì™„ë£Œ.csv' íŒŒì¼ ì €ì¥ ì™„ë£Œ!")

âœ… API í˜¸ì¶œ ì„±ê³µ

ğŸ“Š ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°:
   YEAR MON  MM_TYPE     CNT        EUS       EUS1       EUS2     ECO2_1  \
0  2015  01       ê°œì¸  767791  193784708  194781915  204969429   -6090964
1  2015  01       í•™êµ    1382  134955565  128707423  145561511   -2178902
2  2015  01     ì¢…êµë‹¨ì²´      32     372270     363376     411363   -15099.5
3  2015  01     ì†Œìƒê³µì¸    2058   10249618    9927610   11039593  -233983.5
4  2015  01  ê³µë™ì£¼íƒê´€ë¦¬ì†Œ    1747  327102096  329852334  351694752  -13671447

         ECO2_2       GUS  ...          WUS1         WUS2    WCO2_1  \
0  -2582568.736  59133720  ...  12723680.426  12899476.73  8179.308
1   -923854.448   9107197  ...     2097433.8    2133200.8  -39498.1
2     -6402.188     53331  ...          4548         4519    1411.5
3    -99209.004    536119  ...      146480.6     147325.6     369.9
4  -5796693.528  22834274  ...      12763070   12979835.8  -26645.4

        WCO2_2           HUS          HUS1          HUS2        HCO2_1  \
0  2715.530256  22740838.937  23400055.303  27090493.875  -2504435.652
1  -13113.3692             0             0             0             0
2      468.618             0             0             0             0
3     122.8068             0             0             0             0
4   -8846.2728             0             0             0             0

             HCO2_2               REG_DATE
0  -33660084.213069  2015-06-04 17:03:55.0
1                 0  2015-06-04 17:03:55.0
2                 0  2015-06-04 17:03:55.0
3                 0  2015-06-04 17:03:55.0
4                 0  2015-06-04 17:03:55.0

[5 rows x 25 columns]

ğŸ“‹ DataFrame ì •ë³´:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None

âœ… ê³„ì ˆ ì»¬ëŸ¼ ì¶”ê°€ ì™„ë£Œ:
   YEAR MON    ì—°ë„  ê³„ì ˆ
0  2015  01  2015  ê²¨ìš¸
1  2015  01  2015  ê²¨ìš¸
2  2015  01  2015  ê²¨ìš¸
3  2015  01  2015  ê²¨ìš¸
4  2015  01  2015  ê²¨ìš¸

ğŸ’¾ 'ì„œìš¸ì‹œ_ì—ë„ˆì§€ì‚¬ìš©ëŸ‰_ì „ì²˜ë¦¬ì™„ë£Œ.csv' íŒŒì¼ ì €ì¥ ì™„ë£Œ!